URxvt*depth:		32
URxvt*foreground:	white
URxvt*background:	[85]#000000
URxvt*scrollBar:	false
URxvt*font:		xft:Hack:size=10
URxvt*letterSpace:	-1
URxvt*iso14755:		false
URxvt*cursorBlink:	true
URxvt*cursorUnderline:	true

rofi.color-enabled:	true
rofi.color-normal:	argb:0000000, #a2b5df, argb:3affffff, #a2b5df, #02143f
rofi.color-urgent:	argb:0000000, #ff817f, argb:3affffff, #ff817f, #02143f
rofi.color-active:	argb:0000000, #6aa4ff, argb:3affffff, #6aa4ff, #02143f
rofi.color-window:	argb:ee02143f, #a2b5df, #a2b5df
rofi.separator-style:	solid
rofi.lines:		5
rofi.fullscreen:	true
rofi.padding:		300
!rofi.font:		"System San Francisco Display 9"
rofi.hide-scrollbar:	true
rofi.line-margin:	10
rofi.eh:		2
rofi.bw:		0
